.vscode/
.alcache/
.alpackages/
.packages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml
../test/.altestrunner/
../test/node_modules/
../test/package.json
../test/package-lock.json